body{
    margin:0;
    font-family:'Segoe UI',sans-serif;
    background:#0f172a;
    color:white;
}

.hero{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
}

.hero h1{
    font-size:4rem;
    margin-bottom:10px;
}

.hero p{
    max-width:700px;
    color:#cbd5e1;
}

.section{
    padding:80px 10%;
}

.section h2{
    color:#38bdf8;
}

.skills{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
}

.skill{
    background:#1e293b;
    padding:10px 15px;
    border-radius:25px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.card{
    background:#1e293b;
    padding:20px;
    border-radius:12px;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
}
